﻿@using TeamWork.Infrastructure.Model
@model TeamWork.Infrastructure.Model.UserDto

@{
    ViewBag.Title = "Create";
}

<h2>Add new user</h2>
<div class="row">
    <div class="col-lg-6">
        @using(Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <div class="form-group">
                    <div class="editor-label">
                        <label>Select role</label>
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.RoleId,
                (ViewData["RoleList"] as List<RoleDto>).Select(x =>
                    new SelectListItem { Text = x.RoleName, Value = x.RoleId.ToString() }), new {@class="form-control"})

                    </div>
                </div>

                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>


                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsActive)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>

                <p>
                    <input type="submit" class="btn btn-default" value="Create" />
                </p>
            </fieldset>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index" )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
