﻿@model IEnumerable<TeamWork.Infrastructure.Model.RoleDto>

@{
    ViewBag.Title = "UserRole";
}

<h2>User Role</h2>

<p>
    @Html.ActionLink("Create New", "AddNewRole")
</p>

@using(Html.BeginForm("AddNewRole", "Directory", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            <label for="RoleName">Role name</label>
        </div>
        <div class="editor-field">
            <input id="RoleName" name="RoleName" value="" type="text" />
        </div>
        <p>
            <input type="submit" value="Add new role" />
        </p>
    </fieldset>
}


<table class="table table-striped">
    <tr>
 
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
 
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRole", new { id=item.RoleId})  
            </td>
        </tr>
    }

</table>

 
